html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Open Sans', Helvetica, serif;
}

.header {
    /*background: linear-gradient(0deg, gray, #aaa7a7);*/
    box-shadow: 0px -0px 5px 2px #000000;
    top: 20%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    height: 50px;
    background: rgba(0,0,0,0.6);
    font-size: 15px;
}

/* Strip the ul of padding and list styling*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    float: left;
    margin-right: 1px;
}

li a {
    display: block;
    min-width: 140px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: white;
    text-decoration: none;
}

/* Hover state for links */
li:hover a {
    background: #00ffff;
    padding: 0;
    color: black;
    transition: 0.3s ease-in;
}

/*Style for dropdown links*/
li:hover ul li a {
    color: black;
    height: 40px;
    line-height: 40px;
    margin: 0;
}

/*Hover state for drop-down links*/
li:hover ul li a:hover {
    background: black;
    color: #fff;
}

/*Hide dropdown links*/
li ul {
    display: none;
}

/*Make dropdown links vertical*/
li ul li{
    display: block;
    float: none;
}

/*prevent text wrapping on dropdown links*/
li ul li a {
    width: auto;
    min-width: 100px;
    padding: 0 20px;
}

/*Display dropdown on hover*/
ul li a:hover + .hidden, .hidden:hover {
    display: block;
    transition: 0.3s ease-in;
    position: relative;
    z-index: 1000;
}

/*Hide Checkbox*/
input[type=checkbox] {
    display: none;
}

/*show menu when checkbox checked*/
input[type=checkbox]:checked ~ #menu {
    display: block;
}

.show-menu {
    text-decoration: none;
    color: #fff;
    background: #00ff21;
    text-align: center;
    padding: 10px 0;
    display: none;
}

/*Responsive styles*/
@media screen and (max-width: 760px) {
    ul {
        position: static;
        display: none;
    }

    li {
        margin-bottom: 1px;
    }
    
    ul li, li a {
        width: 100%;
    }

    .show-menu {
        display: block;
    }

    body{
        background-image: none;
    }
}

#login {
    float: right;
    margin: 0;
}

#menu {
    padding: 0 5%;
}

footer {
    margin: auto;
    width: 100%;
    text-align: center;
    position: relative fixed;
    bottom: 0;
    height: auto;
    color: white;
    background: black;
    font-size: 12px;
}

footer p1 {
    padding: 0;
}

.main-img {
    /*background-image: url(Images/background2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
    background-color: #474A89;   
    width: 100%;
    height: 100%;
    z-index: -1;

	flex-flow: column;
	display: flex;
}

.title-holder {
    filter: none;
    text-align: center;
    font-size: 50px;
    width: 100%;
    height: auto;
    margin: 10px auto;
    padding: 0;
    display: inline-block;
}

.title {
    padding: 0;
    margin: auto;
    color: #9B9DC5;
}


/*MAIN WEBPAGE CONTENT BELOW*/

.main-body {
	width: 97%;
	height: 100%;
	position: relative;
	margin: 3% auto;
	padding: 0;
	background: rgba(0,0,0,0.6);
	flex: 1;
	overflow: hidden;
	outline: black 3px solid;
	
	flex-flow: row;
	display: flex;
}

.NavBox {
    background-color: #282B6B;
    flex: 1;
    position: relative;
    overflow: auto;
    height: 100%;
    width: 95%;
    outline: black solid 3px;
    align-self: center;
    display: flex;
    flex-flow: column;
}

#LoginButton {
    bottom: 0;
    margin: auto;
    position: absolute;
}

.ContentBox {
    background-color: #9B9DC5;
    flex: 4;
    position: relative;
    overflow: auto;
    height: 100%;
    width: 95%;
    outline: black solid 3px;
    align-self: center;
    padding: 20px;
    display: flex;
    flex-flow: column;
}

.Content-Button p {
    vertical-align: middle;
    display: table-cell;
    text-decoration: none;
    color: #A5AAED;
}

.Content-Button:hover p {
    transition: 0.3s;
    color: black;
}

.Content-Button {
    flex: 1 0 0 0;
    width: 100%;
    height: 10%;
    text-align: center;
    font-size: 20px;
    transition: 0.3s;
    display: table;
}

.Content-Button:hover {
    transition: 0.3s;
    background: white;
    font-size: 22px;
    color: black;
}

.innerContent {
    flex: 1 0 0 0;
    width: 100%;
    height: 100%;
    margin: 0;
    display: none;
    color: black;
    transition: 0.3s;

    flex-flow: column;
}

#DownloadsContent a {
    text-decoration: none;
    color: white;
    float: right;
    transition: .3s;
}

#DownloadsContent a:hover {
    color: black;
    font-size: 25px;
    transition: .3s;
}

#DownloadsContent div {
    flex: 1 0 0 0;
    height: auto;
    width: 100%;
    margin: 10px 0;
}
